/*--------------------------------------
 |  Custom Sytle CSS
 | -----------------------
 |  By : DnAomissions (Daniel D Fortuna)
*/

/******************************************
 *  Timeline Handling for class 'fas'
 ******************************************/
.timeline > li > .svg-inline--fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  background-color: rgb(210, 214, 222);
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}

.timeline > li > .fas {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  background-color: rgb(210, 214, 222);
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}

input[data-text='true']{
  background-color:transparent;
  border: transparent;
  font-size: 1em;
  box-shadow: none;
}

/******************************************
 *  Collapse Button
 ******************************************/

 .main-header .sidebar-toggle{
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: 'Font Awesome 5 Free';
}

.main-header .sidebar-toggle::before {
    content: "" !important;
}


/******************************************
 *  Overlay
 ******************************************/

 .box .overlay > .fas, .overlay-wrapper .overlay > .fas {
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -15px;
     margin-top: -15px;
     color: #000;
     font-size: 30px;
 }

.box .overlay > .svg-inline--fa, .overlay-wrapper .overlay > .svg-inline--fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
